/* SANTA FE COLOR KEY 

#0EAB87 - teal
#C92624 - red
#E2A803 - yellow
#291672 - dark blue

*/

/************** General **********/
html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }
  body {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    width: 100%;
    height: 100%;
  }
  body.noscroll {
    padding-right: 0 !important;  
  }
  .hide {
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }
  .clear {
    clear: both;
  }
  .alignleft {
    text-align: left;
  }
  .alignright {
    text-align: right;
  }
  a {
    color: #0EAB87;
    transition: color 0.5s ease;
  }
  a:hover {
    color: #291672;
    text-decoration: none;
  }
  .vspace {
    display: block;
    height: 20px;
  }
  button, input, textarea, select {
    font-family: 'Open Sans', sans-serif;
    background-color: #FFF;
    border: 1px solid #EEE;
  }
  @media (min-width: 768px) {
      html.noscroll, body.noscroll {
        overflow: hidden;  
      }
  }
  /************** Heading Levels **********/
  h1, h2, h3, h4, h5, h6 {
    color: #333;
    line-height: 130%;
    margin: 20px 0 10px 0;
  }
  h1 {
    font-size: 35px;
    line-height: 120%;
    font-weight: 400;
  }
  h2, h1.h2 {
    font-size: 25px;
    font-weight: 400;
  }
  h3 {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: normal;
  }
  h4 {
    font-size: 15px;
    font-weight: 400;
  }
  h5 {
    font-size: 13px;
    font-weight: 700;
  }
  h6 {
    font-size: 12px;
    font-weight: 700;
  }
  small {
    font-size: 14px;
  }
  
  /************** Header **********/
  .header {
    position: absolute !important;
    height: 95px; /*change this*/
    width: 100%;
    z-index: 500 !important;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
  }
  @media (min-width: 768px) {
    .header {
      height: 110px;
    }
  }
  
  /************** Tooltips **********/
  .tooltip-inner {
    line-height: 130% !important;
    padding: 15px !important;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
  }
  
  /************** Navbar **********/
  .navbar {
    display: block;
    z-index: 2 !important;
    width: 100%;
    padding: 5px 20px !important;
  }
  .navbar-brand {
    display: inline-block;
    margin-right: 10px !important;
  }
  .navbar-brand img {
    width: 75px;
    height: 75px;
    object-fit: cover !important;
    object-position: 0% 50%;
  }
  .navbar-menu {
    display: inline-block;
    float: right;
    margin-top: 5px;
  }
  .navbar-directions {
    display: none;
    font-size: 13px;
    line-height: 120%;
  }
  .navbar-btn .btn {
    background-color: #FFF;
    border: 1px solid #EEE;
    line-height: 110%;
  }
  .green-btn:hover, .green-btn.current {
    background-color: #B6E5DB;
  }
  .red-btn:hover, .red-btn.current {
    background-color: #EEBDBD;
  }
  .yellow-btn:hover, .yellow-btn.current {
    background-color: #FCE8B2;
  }
  .blue-btn:hover, .blue-btn.current {
    background-color: #BEB9D4;
  }
  .map-pin-star {
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
    width: 20px !important;
    height: 27px !important;
  }
  .map-pin-star.green-pin .pin {
    fill: #0EAB87;
  }
  .map-pin-star.red-pin .pin {
    fill: #C92624;
  }
  .map-pin-star.yellow-pin .pin {
    fill: #E2A803;
  }
  .map-pin-star.blue-pin .pin {
    fill: #291672;
  }
  .navbar-btn {
      position:absolute;
      right:19px;
      top:10px;
  }
  .navbar-btn .btn {
    font-size: 10px;
    width: 60px;
    padding: 10px 5px;
  }
  @media (min-width: 500px) {
    .navbar-brand img {
      max-width: 58px;
      width: 100%;
      height: auto;
    }
  }
  @media (min-width: 650px) {
    .navbar-brand img {
      max-width: 70px;
    }
  }
  @media (min-width: 768px) {
    .navbar-brand img {
        max-width: 105px;
    }
    .navbar-menu {
      margin-top: 10px;
    }
      /*.navbar-btn {
        float: right;
      }*/
    .navbar-directions {
      display: block;
      margin: 20px 15px 0 0;
      /*float: right;*/
      position:absolute;
      right:335px;
      width: 250px;
    }
    .navbar-brand {
      /*margin-top: 15px;
      width: 230px;*/
      float: left;
    }
    .navbar-btn { top:15px; }
    .navbar-btn .btn {
      font-size: 12px;
      width: 90px;
      padding: 10px;
    }
  }
  @media (min-width: 900px) {
    .navbar-brand {
      width: 100%;
      display: block;
    }
    .navbar-menu {
      float: none;
      width: 100%;
      display: block;
    }
    .navbar-directions {
      font-size: 13px;
    }
    .navbar-brand {
      margin-top: 0;
      width: 100px;
      float: left;
    }
  }
  
  /************** Forms **********/
  input, select, select, textarea, label {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
  }
  textarea {
    padding: 15px;
  }
  
  /************** Map **********/
  .map {
      position: absolute;
      width: 100%;
      height:calc(100vh - 95px);
      top: 95px;
      left: 0;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      /*z-index: 100 !important;*/
  }
  .map-pin {
      position: absolute;
      top: 30%;
      left: 50%;
      z-index: 400;
      cursor: pointer;
  }
  .map-pin.green-pin .pin {
    fill: #0EAB87;
  }
  .map-pin.red-pin .pin {
    fill: #C92624;
  }
  .map-pin.yellow-pin .pin {
    fill: #E2A803;
  }
  .map-pin.blue-pin .pin {
    fill: #291672;
  }
  .map-pin.active .pin {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: blink;
  }
  @keyframes blink {
    0% {opacity: 0}
    50% {opacity: 1}
    100% {opacity: 0}
  }
  @media (min-width: 768px) {
      .map {
          top: 110px;
          height: calc(100vh - 110px);
      }
  }
  
  /************** esri tools **********/
  #basemapGalleryDialog {
      display: none;
      font-size: 12px;
  }
  .esriBasemapGalleryNode {
      width: 112px;
  }
  .ui-dialog-titlebar {
      background-color: white;
      color: #fff;
      border: 0;
      padding: 0;  /*0.5em 1em 1em 1em !important;*/
  }
  /*.ui-button-icon-only .ui-icon {
      margin-top: -8px;
      margin-left: -8px;
      background-image: url("images/ui-icons_444444_256x240.png");
  }
  
  ui-icon .dgrid-hider-toggle, .ui-widget-content .ui-icon {
      background-image: url('images/ui-icons_ffffff_256x240.png');
      margin-top: 6px;
  }*/
  .esriSimpleSliderTR {
      top: 80px;
      right: 20px;
      border-color: #C5C5C5;
  }
  .esriSimpleSlider div {
      width: 42px;
      height: 37px;
      font-size: 30px;
      line-height: 30px;
  }
  .arcgisSearch .searchGroup .searchInput {
      padding: 1em;
      padding-bottom: 1em;
      padding-bottom: 13px !important;
      font-family: 'Open Sans', sans-serif;
      font-size: 17px;
      height: 45px;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      padding: 0 15px !important;
      border-color: #C5C5C5;
      border-right: none;
      width: 220px;
  }
  .arcgisSearch .searchBtn {
      height: 19px;
      padding: 0.8em;
      border-color: #C5C5C5;
      background-color: #FFF;
      color: #4A4A4A;
      transition: all 0.5s ease;
      border-left: none;
  }
  /* Other styles */
  .hiddenStartup {
      display: none;
  }
  .contentDiv {
      padding: 50px;
  }
  
  /************** Map Tools **********/
  .map-tools {
    position: absolute;
    z-index: 200;
    top: 10px;
    right: 20px;
    text-align: right !important;
    height:0;
  }
  .search {
    width: 100%;
  }
  .search .form-control {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    height: 45px;
    padding: 0 15px !important;
    border-color: #C5C5C5;
    border-right: none;
  }
  .search .input-group-text {
    border-color: #C5C5C5;
    background-color: #FFF;
    color: #4A4A4A;
    transition: all 0.5s ease;
  }
  .map-tools .btn {
      background-color: #FFF;
      border: 1px solid #C5C5C5;
      color: #333;
      clear: both;
      float: right;
      width: 45px;
      height: 45px;
      padding: 0 !important;
      margin: 15px 0 0 0;
      transition: all 0.5s ease;
  }
  .map-tools .btn .modal-span {
    width: 45px;
    height: 45px;
    display: table;
  }
  .map-tools .btn .modal-span .fas {
    vertical-align: middle;
    display: table-cell;
  }
  .map-tools .btn-group-vertical {
    clear: both;
    float: right;
    margin-top: 15px;
  }
  .map-tools .btn-group-vertical .btn {
    margin-top: 0px;
    border: 1px solid #C5C5C5;
  }
  .map-tools .btn-group-vertical .btn.first {
    border-bottom: none;
  }
  .map-tools .btn:hover {
    background-color: #DDD;
  }
  @media (min-width: 768px) {
      .map-tools {
        width: 300px;
      }
  }
  .mapToolOn { background-color:#999 !important; color:#fff !important; }
  .lower-buttons {
      margin-top: 100px;
  }
  /************** Map Notices **********/
  .map-notice {
      color: #FFF;
      font-size: 20px;
      font-weight: 700;
      line-height: 130%;
      background: rgba(0, 0, 0, 0.8);
      border-radius: 10px;
      padding: 30px;
      position: absolute;
      text-align: center;
      z-index: 100;
      width: 80%;
      top: 250px;
      left: 10%;
  }
  @media (min-width: 768px) {
    .map-notice {
      font-size: 30px;
      width: 660px;
      left: 50%;
      margin-left: -330px;
      padding: 50px;
      top: 200px;
    }
  }
  /************** Sidebar **********/
  .sidebar {
    left: 0;
    z-index: 4000 !important;
    background-color: #F8F8F8;
    border-right: 1px solid #DDD;
    width: 300px;
    padding: 15px;
    position: absolute;
    transition: all 0.5s ease;
    min-height: calc(100% - 95px);
    top: 95px; 
  }
  .sidebar .btn-group {
    padding-left: 0;
  }
  .sidebar .btn-group .btn {
    background-color: #FFF;
    border: 1px solid #EEE;
    font-size: 12px;
    line-height: 110%;
    color: #666;
    padding: 15px 10px;
    width: 79px;
  }
  .sidebar .btn-group .btn .fas {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .sidebar .btn-group .drkgreen-btn:hover, .sidebar .btn-group .drkgreen-btn.active {
    color: #FFF;
    background-color: #0EAB87;
  }
  .sidebar.close {
    left: -300px;
  }
      .sidebar .scrolling-long {
          height: calc(100vh - 275px);
          position: relative;
          width: 100%;
          overflow-y: auto;
          padding-right: 10px;
      }
  
  .sidebar-header {
    height: 155px;
  }
  .sidebar-header > div {
      height:40px;
  }
  .sidebar .close-sidebar {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 15px;
  }
  .sidebar .open-sidebar {
    display: none;
  }
  .sidebar.close {
    opacity: .8 !important;
  }
  .sidebar.close .open-sidebar {
    display: block;
    background-color: #FFF;
    cursor: pointer;
    position: absolute;
    width: 60px;
    height: 60px;
    border: 1px solid #DDD;
    text-align: center;
    line-height: 60px;
    right: -59px;
  }
  .sidebar .close-sidebar img, .sidebar .open-sidebar img {
    width: 30px;
    height: 30px;
  }
  .sidebar select {
    display: inline-block;
    /*float:right;*/
    width: 200px;
    font-size: 17px;
    height: 35px;
  }
  
  @media (min-width: 500px) {
    .sidebar {
        width: 400px;
    }
    .sidebar.close {
       left: -400px;
    }
  }
  @media (min-width: 768px) {
    .sidebar {
      min-height: calc(100vh - 110px);
      top: 110px;
    }
    .sidebar .scrolling-long {
      height: calc(100vh - 290px);
    }
  }
  /************** Map Notes in Sidebar **********/
  .map-note {
    padding: 10px 25px 10px 10px;
    background-color: #FFF;
    border: 1px solid #EEE;
    font-size: 15px;
    border-radius: 5px;
    margin: 0 10px 20px 0;
  }
  .map-note.green-comment {
    background: linear-gradient(90deg, white 95%, #0EAB87 5%);
  }
  .map-note.red-comment {
    background: linear-gradient(90deg, white 95%, #C92624 5%);
  }
  .map-note.yellow-comment {
    background: linear-gradient(90deg, white 95%, #E2A803 5%);
  }
  .map-note.blue-comment {
    background: linear-gradient(90deg, white 95%, #291672 5%);
  }
  .date {
    font-size: 12px;
    margin-top: 10px;
  }
  
  #notes .form-check > * { cursor:pointer; }
  #notesDiv { margin-top:5px; }
  
  #notesDiv.scrolling { height:calc(100vh - 275px); overflow-y:auto; }
  
  .approval { position:relative; }
  .changeApprovalBtns { position:absolute; right:5px; top:-10px; }
  
  /************** Layer/Right Modal **********/
  body.modal-open {
      overflow: auto !important;
  }
  .modal.mapToolModal {
    width: 250px;
    left: auto;
    right: 70px;
    position: absolute;
    overflow: hidden;
  }
  .modal.mapToolModal .modal-dialog {
    margin-top: 300px !important; 
  }
  .modal.mapToolModal .modal-content {
    border-radius: 0;
    border: none;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
  }
  .modal.mapToolModal .modal-header {
    padding: 0;
    border-bottom: 0;
  }
  .modal.mapToolModal .close {
    color: #666;
    margin-left: auto;
    margin-right: 0;
    margin-top: 0;
    padding: 7px 10px;
  }
  .mapToolModal label {
    margin-bottom: 0;
  }
  @media (min-width: 768px) {
    .modal.mapToolModal {
        width: 300px;
      }
    .modal.mapToolModal .modal-dialog {
      margin-top: 200px !important; 
    }
  }
  /************** Center Modals **********/
  .modal.center {
    border-radius: 0;
    border: 1px solid #DDD;
  }
  .modal.center .close {
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0 -15px 0 0;
  }
  .modal.center .close img {
    width: 30px;
    height: 30px;
  }
  .modal.center .modal-header {
    border-bottom: none !important;
    padding: 10px 25px;
  }
  .modal.center .modal-footer {
    border-top: none !important;
    padding: 15px 25px;
  }
  .modal.center .modal-body {
    padding: 0;
  }
  .modal.center .modal-body .modal-padding {
    padding: 0 25px;
  }
  .modal.center .modal-body .modal-padding.grey {
    background-color: #F8F8F8;
    padding: 5px 25px !important;
    font-size: 13px !important;
  }
  .modal.center .modal-body .modal-padding.grey input {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .modal-footer .btn {
    width: 100%;
    border: none;
    color: #FFF;
    font-size: 18px;
    background-color: #E2A803;
  }
  @media (min-width: 768px) {
    .modal.center .modal-content {
      margin: 0 auto;
    }
    #addnote .modal-content {
      margin-top: 100px;
      width: 400px;
    }
    #picklocation .modal-content {
      margin-top: 200px;
      width: 300px;
    }
  }
  /* Other styles */
  #tpLogo {
      position:absolute;
      bottom:20px;
      right:20px;
      z-index:10;
  }
  .hiddenStartup {
      display: none;
  }
  .contentDiv {
      padding: 50px;
  }
  #bodyDiv {
      position: relative;
  }
  #zoomInToInteractDiv {
      position: absolute;
      top: 10px;
      left: 10px;
      border-radius: 5px;
      background-color: #eee;
      border: 1px solid #ccc;
      z-index: 10;
      padding: 5px 100px;
      opacity: 0.8;
  }
  #zoomInToInteractDiv > p {
      font-size: 40px;
      margin: 0;
  }
  #commentInput {
      margin-bottom: 8px;
      resize: none;
  }
  #layerListDiv label > img {
      width: 20px;
  }
  .tool-dialog-titlebar {
      background-color: #fff;
      color: #000;
      border: 0;
      padding: 0 !important;
      /*padding: 0.5em 1em 1em 1em !important;*/
  }
  .tool-dialog-content {
      background-color: #fff;
      padding: 0 1em !important;
  }
  .tool-dialog-titlebar .ui-button-icon {
      /*margin-top: -8px;
      background-image: url("images/ui-icons_444444_256x240.png");*/
      opacity: 0.8;
  }
  .tool-dialog-titlebar .ui-dialog-titlebar-close {
      border: 0;
      background-color: transparent;
      /*background-image: url('images/ui-icons_ffffff_256x240.png');*/
  }
  .popupStreetView {
      padding-top: 0;
      display: block;
      float: left;
      width: 100%;
      height: 300px;
      position: relative;
      vertical-align: top;
      overflow: hidden;
  }
  .noStreetView {
      display: none;
      float: left;
      margin-top: 10px;
  }
  .mapNotesDialog {
      background-color:white;
      border-radius:5px;
      border:1px solid #ccc;
      padding:0;
      z-index:500;
      font-family:'Open Sans', sans-serif;
      overflow-y:auto;
  }
      .mapNotesDialog.scrollHeight { 
          height: calc(100% - 130px) !important;
      }
      .mapNotesDialog .ui-dialog-titlebar-close {
          display:none;
          /*width:30px;
          height:30px;
          padding:0;
          background-color:transparent;
          border:none;
          right:15px;
          top:25px;
          z-index:100;*/
      }
      /*.mapNotesDialog .ui-button-icon{
          background-image:url(../images/close.png) !important;
          background-position:0;
          width:30px;
          height:30px;
          background-size:30px;
          margin:0;
          top:0;
          left:0;
      }
      .mapNotesDialog .ui-button-icon-space {
          display:none;
      }*/
      .mapNotesDialog h2 { margin:0 0 10px 0; }
      .mapNotesDialog input, .mapNotesDialog textarea, .mapNotesDialog label {
          font-family: 'Open Sans', sans-serif;
      }
      .mapNotesDialog .ui-dialog-titlebar {
          background-color: white;
          border-radius: 5px;
          padding: 0;
      }
      .mapNotesDialog .mapNotesDlgPadding {
          padding:0 25px;
      }
      .mapNotesDialog .ui-dialog-content {
          padding:0;
      }
  .mapNotesContact {
          background-color: #F8F8F8;
          padding: 5px 0 !important;
          font-size: 13px !important;
      }
  .mapNotesContact input {
              font-size: 13px;
              margin-bottom: 10px;
          }
      .mapNotesDialog .btn {
          width: 100%;
          border: none;
          font-size: 18px;
          margin-bottom:10px;
      }
      .mapNotesDialog .btn-primary {
          background-color: #E2A803;
      }
      .mapNotesDialog .mapNotesConfirmCancel{
          width: 49%;
      }
      .mapNotesDialog .mapNotesCancelConfirm{
          display:none;
          color:red;
          font-size:15px;
      }
      #mapNotesDrawPromptDiv > h2 {
          margin: 0;
      }
  #saveMapNotesErrorDiv { color: red; }
  #mapNotesFinishDiv { display:none; }
  #notesDiv > .map-note { cursor: pointer; }
  .map-note button:first-child { margin-left:50px; }
  .BasemapToggle {
      clear:both;
      float:right;
      margin-top:15px;
      width:45px;
  }
      .BasemapToggle .basemapImage { width:45px; height:45px; }
      .BasemapToggle .basemapBG { width:41px !important; height:45px !important; }
      .BasemapToggle .basemapTitle{ width:100%; }
  
  .esriPopup .titleButton.maximize { display:none; }
  .esriPopup .titleButton.next { right:25px; }
  .esriPopup .titleButton.prev { right: 48px; }
  /* Survey inputs */
  #mapNotesContentDiv .form-check { height:32px; }
  #mapNotesContentDiv .form-check-input { width:25px; height:25px; margin: 0 15px 0 -20px; }
  #mapNotesContentDiv .form-check-label { margin-left:15px; }
  .required { color:red; margin-bottom:10px; }
  .routeRelatedToError { display:none; color:red; }
  #pickLocationTitle { width:280px; }
  
  #signupResult { color:red; margin-top:10px;}